.cart_box {
    position: relative;
    box-shadow: 17px 19px 24px rgba($color: #000000, $alpha: .2);
    width: 650px;
    height: 300px;
    box-sizing: border-box;
    margin-bottom: 40px;
    @include extra-large {
        width: 600px;
    }
    @include large {
        width: 100%;
    }
    @include middle {
        height: 190px;
    }
    &-img {
        height: 100%;
        @include middle {
            width: 180px;
        }
    }
    &-content {
        padding: 22px 0 0 31px;
        @include middle {
            padding-left: 17px;
            padding-top: 13px
        }
    }
    &-brand, &-category {
        @include fstyle(24px);
        line-height: 29px;
        @include middle {
            @include fstyle(16px);
            line-height: 19px;
        }
    }
    &-values {
        margin-top: 42px;
        & li {
            @include fstyle(22px, $color: lighten($accent, 20%));
            line-height: 26px;
            @include middle {
                @include fstyle(14px, $color: lighten($accent, 20%));
                line-height: 17px;
            }
        }
    }
    &-item {
        margin-left: 10px;
        &.price {
            color: $red;
        }
        &.quantity {
            padding: 5px;
            width: 30px;
            font-size: 20px;
            overflow: hidden;
            @include border($color: $text-gray);
        }
    }
    &-close {
        position: absolute;
        top: 22px;
        right: 22px;
        border: none;
        outline: none;
        background-color: inherit;
        font-size: 24px;
        font-weight: 100;
        transition: all .3s;
        @include middle {
            top: 13px;
            right: 0px;
            font-size: 16px;
        }
        &:hover {
            color: $red;
            transform: rotate(90deg);
        }
    }
}