.category {
    &_title {
        @include fstyle(14px, 900, #000);
        line-height: 17px;
        text-transform: uppercase;
        text-align: left;
        padding: 10px 18px;
        cursor: pointer;
        @include middle {
            padding: 0;
        }
        &-red {
            color: $red;
        }
        & p {
            @include middle {
                display: none;
            }
        }
    }
    &_nav {
        padding: 4px 10px;
        @include middle {
            width: 37px;
            height: 25px;
        }
        &.red path {
            fill: $red;
        }
    }
    &_links {
        animation: slide-out-elliptic-top-bck 0.7s ease-in both;
        animation-delay: .3s;
        padding-top: 10px;
        position: absolute;
        top: -10px;
        left: 0;
        width: 100%;
        z-index: 10;
        box-shadow: 6px 4px 24px rgba($color: #000000, $alpha: .2);
        @include middle {
            width: 340px;
        }
    }
    &_box {
        padding: 14px 18px;
        box-sizing: border-box;
        background-color: $light;
    }
    &_name {
        display: inline-block;
        @include fstyle(14px, $color: $red);
        line-height: 17px;
        text-transform: uppercase;
        width: 90%;
        padding: 11px;
        text-align: left;
        border-bottom: 1px solid $red;
        border-left: 5px solid $red;
        outline: none;
        cursor: pointer;
    }
    &_submenu {
        padding: 16px;
        padding-bottom: 0;
        & > li {
            @include fstyle(14px);
            line-height: 17px;
            margin-bottom: 11px;
            text-align: left;
        }
    }
}


  