// color

$light: #fff;

//color from shop
$accent: #222222;
$bg-pink: #F1E4E6;
$bg-gray:  #E5E5E5;
$red: #F16D7F;
$text-light: #E8E8E8;
$text-gray: #5D5D5D;
$bg-box: #f8f8f8;



// $select-color: (
//     primary: #3d67da,
//     danger: #d33030,
//     warning: #c3bb1a,
//     success: #369c36,
//     info: #03a9f4
// )

// .p {
//     @each $status, $color in $select-color {
//         &-#{$status} {
//             @include font;
//             background: $color;
//             color: $light;
//             &:hover {
//                 background: darken($color, 20%);
//             }  
//         }   
//     }
// }
