@import './general/base';
@import './general/mixins';
@import './general/typography';
@import './general/variables';
@import './helpers/classes';
@import './components/ui';


.black_line {
    padding: 20px 0;
    background-color: $accent;
    position: relative;
    z-index: 1;
}

.logo {
    display: inline-block;
    width: 44px;
    height: 38px;
    background: url('img/logo.png') no-repeat center;
}

.top {
    justify-content: space-between;
}

.top_left, .top_right {
    font-size: 26px;
    color: $text-light;
    line-height: 30px;
}

.top_left {
    @include large {
        margin-left: 16px;
    }
    @include middle {
        margin-left: 0;
        width: 100%;
    }
    &-search {
        padding: 5px;
        margin-left: 30px;
        @include middle {
            margin-left: 20px;
        }
        & input {
            background-color: $accent;
            border: none;
            outline: none;
            width: 300px;
            margin-left: 30px;
            font-size: 14px;
            color: $text-light;
            @include large {
                width: 220px;
            }
            @include middle {
                margin-left: 20px;
                width: 100%;
            }
        }
    }
}

.top_right {
    justify-content: flex-end;
    @include large {
        margin-right: 16px;
    }
    @include middle {
        margin-right: 0;
        width: 10%;
    }
    &-item {
        padding-left: 33px;
        position: relative;
        &:nth-child(2), &:last-child {
            @include middle {
                display: none;
            }
        }
    }
}

.cart-count {
    content: '';
    position: absolute;
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    background-color: $red;
    font-size: 3px;
    text-align: center;
    line-height: 14px;
    top: -2px;
    right: -7px;
}

.poster {
    background-color: $bg-pink;
    margin-bottom: 63px;
    &_content {
        min-height: 764px;
        @include middle {
            min-height: 367px;
        }
        &-img {
            background: url('img/banner-img.png') no-repeat -200px 0;
            @include middle {
                display: none;
            }
        }
        &-text {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            @include middle {
                width: 100%;
                align-items: center;
            }
        }
        &-block {
            padding-left: 16px;
            border-left: 12px solid $red;
        }
    }
    &_black, &_red {
        @include fstyle(32px, 700);
        margin-right: 10px;
        line-height: 38px;
        @include middle {
            @include fstyle(20px, 700);
            line-height: 24px;
        }
    }
    &_red {
        color: $red;
    }
}

.links {
    min-height: 148px;
    margin-bottom: 51px;
    background-color: #F8F3F4;
    &_content {
        padding: 60px 0;
        justify-content: space-between;
        @include middle {
            flex-direction: column;
            align-items: center;
            padding: 24px 0 46px 0;
        }
        &.special {
            @include middle {
                padding-bottom: 0;
                padding-top: 60px;
            }
        }
    }
    &_title {
        @include fstyle(24px, $color: $red);
        line-height: 29px;
        text-transform: uppercase;
        @include middle {
            margin-bottom: 32px
        }
    }
    &_address {
        @include fstyle(14px, 300, $text-gray);
        line-height: 17px;
        text-transform: uppercase;
        padding: 5px 0;
        &-black:hover {
            text-decoration: underline;
        }
        &-red {
            @include fstyle(14px, 700, $red);
        }
    }
    &.prod {
        margin-bottom: 0;
    }
}

.offer {
    margin-bottom: 96px;
    @include middle {
        margin-bottom: 24px;
    }
    &_items {
        justify-content: space-between;
        @include middle {
            flex-direction: column;
            align-items: center;
        }
    }
    &_item {
        position: relative;
        margin-right: 30px;
        margin-bottom: 30px;
        @include middle {
            margin-right: 0;
        }
        &:last-child {
            margin-right: 0;
        }
        &-img {
            width: 100%;
            @include large {
                height: 170px;
            }
            @include middle {
                height: 250px;
            }
        }
        &-title {
            position: absolute;
            top: 40%;
            width: 100%;
            text-align: center;
            z-index: 10;
        }
        &-text {
            @include fstyle(16px, $color: $text-light);
            line-height: 19px;
        }
        &-red {
            @include fstyle(19px, $color: $red);
            line-height: 25px;
        }
    }
    &_items + .offer_item > img {
        @include large {
            height: 118px;
        }
    }
    
}

.preview {
    margin-bottom: 120px;
    text-align: center;
    &_slider {
        position: relative;
        min-height: 455px;
        background-color: #f7f7f7;
        @include border($color: #e0e0e0);
        @include large {
            border: none;
        }
        &-box {
            max-width: 597px;
            margin: 0 auto;
            padding: 20px 0;
            box-sizing: border-box;
            overflow: hidden;
            @include middle {
                width: 370px;
            }
        }
        &-line > img {
            @include large {
                width: 100%;
            }
            @include middle {
                height: 455px;
                width: 370px;
            }
        }
        &-btn {
            position: absolute;
            font-size: 30px;
            font-weight: bold;
            top: 50%;
            padding: 4px 13px;
            border: none;
            outline: none;
            background-color: rgba(42, 42, 42, 0.15);
            transition: all .3s;
            cursor: pointer;
            z-index: 10;
            &.prev {
                left: 0;
            }
            &.next {
                right: 0;
            }
            &:hover {
                color: $red;
                background-color: rgba(42, 42, 42, 0.05);
            }
        }
    }
    &_description {
        position: relative;
        padding: 64px;
        margin-top: -40px;
        @include border($color: #EAEAEA);
        background-color: $light;
        @include large {
            margin-top: 0;
        }
        @include middle {
            padding: 64px 0;
        }
        &-title {
            display: inline-block;
            @include fstyle(14px, $color: $red);
            line-height: 17px;
        }
        &-brand {
            @include fstyle(18px, 300, #777);
            line-height: 22px;
            margin-bottom: 48px;
        }
        &-text {
            @include fstyle(14px, 300, #5E5E5E);
            line-height: 17px;
            width: 70%;
            margin: 0 auto 32px;
        }
        &-price {
            @include fstyle(24px, 300, $red);
            line-height: 29px;
            margin: 0 auto;
            width: 60%;
            padding-bottom: 64px;
            border-bottom: 1px solid #EAEAEA;
            @include middle {
                padding-bottom: 31px;
            }
        }
        &-choise {
            justify-content: center;
            margin-top: 64px;
            @include middle {
                margin-top: 46px;
            }
        }
    }
}

.cart {
    margin-top: 95px;
    margin-bottom: 125px;
    @include large {
        margin-top: 58px;
    }
    @include middle {
        margin-top: 30px;
        margin-bottom: 90px;
    }
    &_place {
        justify-content: space-between;
        @include large {
            flex-direction: column;
        }
    }
    &_content {
        &-btns {
            margin-top: 70px;
            justify-content: space-between;
            @include large {
                justify-content: space-around;
                margin-bottom: 64px;
            }
        }
    }
    &_check {
        width: 360px;
        @include large {
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
        }
        @include middle {
            flex-direction: column;
        }
        &-form {
            width: 340px;
        }
        &-title {
            @include fstyle(16px, 300);
            line-height: 19px;
            margin-bottom: 20px;
        }
        &-input {
            padding: 16px 17px;
            margin-bottom: 20px;
            @include fstyle(13px, 300);
            @include border($color: #444);
            line-height: 17px;
            outline: none;
            &::placeholder {
                color: lighten($accent, 50%);
            }
        }
        &-total {
            margin-top: 57px;
            padding: 44px 42px;
            background-color: $bg-gray;
            @include large {
                margin: auto 0;
            }
            @include middle {
                margin-top: 48px;
            }
        }
        &-subtotal {
            @include fstyle(11px);
            line-height: 13px;
            text-transform: uppercase;
            text-align: right;
            margin-bottom: 12px;
        }
        &-grandtotal {
            @include fstyle(16px, 300);
            line-height: 19px;
            text-transform: uppercase;
            text-align: right;
            margin-bottom: 21px;
            & span {
                color: $red;
                font-weight: 400;
            }
        }
        &-subtotal span, &-grandtotal span {
            padding-left: 20px;
        }
    }
}

.register {
    margin-bottom: 98px;
    &_place {
        justify-content: space-between;
        @include middle {
            flex-direction: column;
        }
    }
    &_form {
        width: 360px;
        @include middle {
            width: 100%;
            margin-bottom: 40px;
        }
        &-title {
            @include fstyle(16px, 300);
            line-height: 19px;
            margin-bottom: 20px;
        }
        &-input {
            padding: 13px 17px;
            margin-bottom: 20px;
            @include fstyle(13px, 300);
            @include border($color: #444);
            line-height: 17px;
            outline: none;
            &::placeholder {
                color: lighten($accent, 50%);
            }
        }
        &-sex input[type=radio], &-sex label {
            margin-right: 10px;
        }
        &-sex {
            @include fstyle(11px, 300, #000);
            line-height: 13px;
            margin-bottom: 33px;
        }
        &-text {
            @include fstyle(13px, 300, $text-gray);
            line-height: 16px;
        }
    }
    &_description {
        width: 650px;
        @include extra-large {
            width: 550px;
        }
        @include large {
            width: 350px;
        }
        @include middle {
            width: 100%;
        }
        &-title {
            text-transform: uppercase;
        }
        &-text, &-title, &-links {
            @include fstyle(24px, 300, #000);
            line-height: 29px;
            margin-bottom: 21px;
            @include large {
                @include fstyle(16px, 300, #000);
                line-height: 19px;
            }
        }
        &-links li {
            margin-bottom: 16px;
        }
        &-links .fa {
            color: lighten($color: #000000, $amount: 30%);
            margin-right: 20px;
        }
    }
}

.products {
    text-align: center;
    margin-bottom: 96px;
    @include middle {
        margin-bottom: 64px
    }
    &_title {
        @include fstyle(30px);
        line-height: 36px;
        margin-bottom: 7px;
    }
    &_text {
        @include fstyle(14px, $color: $text-gray);
        line-height: 17px;
        margin-bottom: 48px;
    }
    &_cards {
        justify-content: space-between;
        @include large {
            justify-content: space-around;
            &.excess .product_card:last-child {
                @include large {
                    display: none;
                }
            }
        }
    }
    &_filter {
        margin-bottom: 64px;
        @include large {
            justify-content: space-evenly;
            margin-bottom: 40px;
        }
        &-category {
            width: 360px;
            position: relative;
            background-color: $bg-box;
            @include extra-large {
                width: 320px;
            }
            @include middle {
                width: 70px;
            }
            &:hover .category_links {
                display: block;
            }
        }
        &-group {
            margin-left: 33px;
            width: 360px;
            @include extra-large {
                width: 320px;
            }
            @include large {
                justify-content: flex-end;
            }
        }
    }
    &_pagination {
        margin: 0 auto;
        width: 280px;
        padding: 15px;
        border: 1px solid $bg-gray;
        &-item button{
            border: none;
            outline: none;
            padding: 0 10px;
            background-color: inherit;
            @include fstyle(16px, 300, lighten($accent, 50%));
            line-height: 19px;
            cursor: pointer;
            &:hover, &.focus {
                color: $red;
            }
        }
        &-item {
            &.next button, &.prev button {
                @include fstyle(22px);
                line-height: 24px;
            }
        }
    }
}

.feature {
    background-color: $accent;
    &_items {
        justify-content: space-between;
        padding: 104px 0;
        text-align: center;
        @include large {
            flex-direction: column;
            align-items: center;
            padding-top: 49px;
            padding-bottom: 64px;
        }
    }
    &_item {
        width: 30%;
        @include large {
            margin-bottom: 48px;
        }
        @include middle {
            width: 100%;
        }
    }
}

.subscrabe {
    background: url('img/bottom_bg.jpg') no-repeat center;
    background-size: cover;
    &_content {
        justify-content: space-between;
        @include large {
            flex-direction: column;
            align-items: center;
        }
    }
    &_comments, &_form {
        position: relative;
        min-height: 460px;
        text-align: center;
        z-index: 10;
        @include large {
            min-height: 250px;
        }
        @include middle {
            width: 100%;
        }
        &-text {
            margin-top: 30px;
            @include fstyle(20px);
            line-height: 24px;
        }
        &-italic {
            font-style: italic;
        }
        & .item {
            top: 25%;
            left: 0;
            position: absolute;
            opacity: 0;
            transition: all 1s;
            & img {
                border-radius: 50px;
            }
            &.showed {
                opacity: 1;
            }
        }
    }
    &_form {
        &-content {
            margin: 30% auto;
        }

        &-title {
            @include fstyle(24px, 700);
            line-height: 30px;
            margin-bottom: 7px;
        }
        &-subtitle {
            @include fstyle(18px);
            line-height: 25px;
            margin-bottom: 32px;
        }
        &-input {
            @include fstyle(14px);
            padding: 15px 20px;
            border-radius: 20px 0 0 20px;
            border: none;
            outline: none;
            background-color: #e1e1e1;
            transition: all .3s;
            &:hover {
                box-shadow: 0 0 20px #b9b9b9 inset;
            }
        }
        &-button {
            padding: 15px;
            border-radius: 0 20px 20px 0;
            background-color: $red;
            border: none;
            outline: none;
            cursor: pointer;
            color: $light;
            margin-left: -3px;
            transition: all .3s;
            &:hover {
                background-color: darken($red, 10%);
            }
        }
    }

}

.footer {
    justify-content: space-between;
    @include middle {
        flex-direction: column-reverse;
        align-items: center;
    }
    &_copyright {
        @include fstyle(16px, $color: $bg-box);
        line-height: 19px;
        padding: 5px 0;
    }
    &_socialy {
        @include middle {
            padding: 40px 0;
        }
    }
    &_socialy .fa {
        display: inline-block;
        width: 32px;
        height: 32px;
        background-color: $light;
        text-align: center;
        line-height: 32px;
        margin-left: 7px;
        transition: all .3s;
        &:hover {
            background-color: $red;
            color: $light;
        }
    }
}